.navbar {
    margin-bottom: 0px !important;
}

.search-by-ingredients--cover img {
    position: fixed;
    opacity: 0.2;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.search-by-ingredients--cover__content {
    padding-top: 6em;
    background: rgba(250, 250, 250, .95);
}

.search-by-ingredients--cover__heading {
    text-align: center;
}

.search-by-ingredients--cover__search {
    padding-top: 2em;
    padding-botton: 2em;
    z-index: 1000;
}

.search-by-ingredients--cover__alternative {
    padding-top: 4em;
    font-weight: bold;
}

.search-by-ingredients--cover__button {
    padding: 2em;
}