@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipes Recommender</h1>
    <p class="lead">The app is still in development. It is separated to Rest API and actual frontend app.To run the actual application follow these instructions.</p>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Running React app in develoment mode</h2>
        <ol>
            <li>Install <a href="https://nodejs.org/en/download/">Node.js</a></li>
            <li>Run the .net application simply by hitting F5 in VisualStudio</li>
            <li>Checkou out the port that this .net application is currently running at</li>
            <li>Open {projectLocation}\pv254-food-recipes-recommender\src\WebApp\recipes-app\package.json and change the last line ""proxy": "http://localhost:13451"" to the actual port</li>
            
            <li>Open command line or bash and run these commands:</li>
            <ul>
                <li>cd {projectLocation}\pv254-food-recipes-recommender\src\WebApp\recipes-app</li>
                <li>npm start</li>
            </ul>
            <li>Browser should open the <a href="localhost:3000/">localhost:3000/</a> and you should see the app</li>
            <li>Enjoy...</li>
        </ol>
        
        <hr/>
        <h3>Note</h3>
        <p>Web Application is written using <a href="https://github.com/facebookincubator/create-react-app">react-create-app</a> boilerplate. </p>
        
        <p><a class="btn btn-default" href="https://github.com/facebookincubator/create-react-app">Learn more &raquo;</a></p>
    </div>
</div>
